body {
    padding-top: 70px;
}

body.nopadding {
    padding-top: 0px;
    min-height: 0px;
}

body.nopadding.grey {
    background: #efefef;
}
.feature-ss ul{
    padding: 0px;
}
.navbar-default {
    background-color: #ffffff;
    border-bottom: 1px solid #ecf0f1;
    box-shadow: -2px 2px 4px 0px rgba(0, 0, 0, 0.14);
}

.header {
    padding-top: 25px;
}

.header .logo {
    text-align: center;
    margin-bottom: 25px;
}

.header .logo img {
    max-width: 100px;
}

.head-section {
    width: 320px;
    margin: 0 auto;
    position: relative;
    color: #2C3E50;
    font-size: 1.2em;
}

.head-section.payment {
    width: 320px;
    margin-top: 25px;
    font-size: .9em;
}
.feature{
    padding-top: 25px;
}
.feature i {
    color: #7d7c7c;
}
.feature .i{
    height: 130px;
}

.feature h4 {
    color: #21bf64;
    font-size: 1em;
}

.feature p {
    padding: 15px;
    color: #777b7d;
    font-size: .8em;
}

.feature-ss {
    background: #fff;
    overflow: hidden;
}

.feature-ss p {
    padding: 15px;
    color: #777b7d;
    font-size: .8em;
}

.feature-ss h1 {
    font-size: 1.5em;
    font-weight: 100;
    color: #21bf64;
}

.feature-ss ul li {
    list-style: none;
    display: inline-block;
    font-size: 1em;
    padding: 25px;
    color: #999;
    text-align: center;
    width: 180px;
    line-height: 2em;
    cursor: pointer;

}

.feature-ss .animated-images {
    position: relative;
    left: -40px;
    display: inline-block;
    width: 100%;
    height: 518px;
    margin-bottom: 137px;
    max-width: 940px;
}

.feature-ss .image-wrapper {
    -webkit-transition: -webkit-transform 1s ease, left 1s ease;
    -moz-transition: -moz-transform 1s ease, left 1s ease;
    -o-transition: -o-transform 1s ease, left 1s ease;
    transition: transform 1s ease, left 1s ease;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.85);
    position: absolute;
    top: 0;
    left: 0;
    width: 620px;
    height: 520px;
    background: #fff;
    box-shadow: 0 4px 13px 1px rgba(0, 0, 0, 0.22);
}

.feature-ss .image-wrapper.left {
    left: 0;
}

.feature-ss .image-wrapper.center {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    left: 22%;
    z-index: 10;
}

.feature-ss .image-wrapper.right {
    left: 400px;
}

.feature-ss ul li.active {
    color: #21bf64;
}

.feature-ss ul li.br {
    border-right: 1px #ddd solid;
}

.feature-ss ul li i {
    font-size: 3.5em;
}

.user-quote {
    padding: 25px;
}
.user-quote .text{
    color: #686e73;
    font-weight: bold;
}

.user-quote  .signature{
    border-top: 1px #ddd solid;
    padding-top: 15px;
    margin-top: 15px;
    width:100px;
}
.user-quote .quote {
    position: relative;
    display: inline-block;
    margin-left: 100px;
    padding-left: 30px;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    vertical-align: top;
}

.user-quote .quote::before {
    content: '';
    position: absolute;
    top: 4px;
    left: -50px;
    display: inline-block;
    width: 53px;
    height: 44px;
    background: url(../img/icon-quote.png) no-repeat;
}
.package{
    background: #fff;
    padding: 25px;
}
table.package  thead{
    background: #f8fafa;
    color: #7d828b;
}
table.package  thead tr th{

    padding: 25px;
}
.startnow{
    background: #fff;
    padding: 25px;
}
.startnow .startusing{
    background: #21bf64;
    width: 230px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 35px;
    display: block;
    color: #fff;
}
.startnow .startusing:hover{
    background: #08823a;
}



.head-section:before {
    content: '';
    border: 1px solid #2C3E50;
    top: 50%;
    left: 40px;
}

.head-section:after {
    content: '';
    border: 1px solid #2C3E50;
    width: 50px;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 40px;
}

.bottom-menu .bottom-menu-brand {
    font-size: 16px;
}

.bank {
    position: relative;
    min-height: 20px;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 1.5;
    -webkit-transition: color .25s linear;
    transition: color .25s linear;
}

.nav-list > li.divider {
    height: 2px;
    margin: 23px -13px 17px 0;
    background-color: #edeff1;
    border-bottom: none;
}

.nav-list li p {
    width: 70%;
    float: left;
    font-size: 1em;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.pbl, .pvl, .pal {
    padding-bottom: 0px !important;
}

.head-section.userdetail {
    margin-bottom: 25px;
}

.selectpicker {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 2px #bdc3c7 solid;
    color: #363738;
    font-size: .8em;
    background: #FFF;
}

.overlay-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.overlay-loader .bg {
    width: 100%;
    height: 100%;
    background: #000;

    opacity: .5;
}

.overlay-loader .container {
    position: absolute;
    width: 100%;
    top: 45%;
}

.overlay-loader .container p {
    color: #fff;
    text-align: center;
}

.loader {
    margin: 0 auto;
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin .5s linear infinite;
}

.itemname {
    color: #16a085;
    font-size: 15px;
    font-weight: 700;
    text-shadow: none;
}

.itemprice {
    color: #000;
    font-size: 12px;
    font-weight: 700;
    text-shadow: none;
}

.itemamount {
    margin: 7px 0px;
    width: 70px;
    float: right;
    text-align: center;
}

.startusing {
    background: #21bf64;
    border-radius: 35px;
}

.startusing a {
    color: #fff !important;
}

.panel-login-box {
    max-width: 500px;
    margin: 0 auto;
}

.register-header-fixed {
    padding: 50px;
    background: #3498db;
    text-align: center;
    color: #fff;
}

#fulladdress {
    max-width: 550px;
    margin: 0 auto;
}

.header-index {
    /* background: url(../img/mac1.png) no-repeat center top; */
    background: #3498db;
    background-size: 100%;
    padding-top: 20px;
}

a.logo {
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    word-spacing: .3em;

}

.heading-wrapper {
    padding-top: 90px;
    text-shadow: 1px 1px 1px #000;
}
.heading-wrapper  h2{
    font-size: 2.2em;
}

.text-white {
    color: #fff;
}

.navbar-nav > li > a {
    color: #fff;
}

.navbar-nav.main > li > a {
    padding: 12px 21px;
}

.navbar-header {
    border-right: 1px rgba(238, 238, 238, 0.33) solid;
    padding-right: 20px;
}

.step-wrapper {
    border-radius: 15px;
    margin-top: 120px;
    padding: 20px;
}

#eliteregister li {
    list-style-type: none;
    text-shadow: 1px 1px 2px #000;
    color: #ffffff;
    font-size: 13px;
    width: 33.33%;
    float: left;
    position: relative;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 320px) {
    .head-section {
        width: 300px;
        margin: 0 auto;
        position: relative;
        color: #2C3E50;
        font-size: 1em;
    }

    .head-section.payment {
        width: 300px;
        margin-top: 35px;
        margin-bottom: 25px;
        font-size: .8em;
    }
}

@media (max-width: 980px) {
    .header-index {
        background-size: 160%;
        padding-top: 20px;
    }
}
@media (max-width: 760px) {
    .header-index {
        background-size: 260%;
        padding-top: 20px;
    }
    .step-wrapper {
        border-radius: 15px;
        margin-top: 0px;
        padding: 20px;
    }
    .heading-wrapper {
        padding-top: 0px;
        text-shadow: 1px 1px 1px #000;
    }
    .navbar .container > .navbar-header, .navbar .container-fluid > .navbar-header, .navbar .container > .navbar-collapse, .navbar .container-fluid > .navbar-collapse {
        margin-right: 0px;
        margin-left: 0px;
    }
    .navbar-header {
        border-right: 0px;
        padding-right: 0px;
    }
    .navbar-nav > li > a {
        color: #fff;
        text-shadow: 3px 1px 3px rgba(0, 0, 0, 0.85);
    }
    .feature h4 {
        color: #21bf64;
        font-size: .7em;
        line-height: 1.2em;
        padding-bottom: 30px;
    }
    .feature-ss ul li {
        list-style: none;
        display: inline-block;
        font-size: .5em;
        padding: 5px;
        color: #999;
        text-align: center;
        width: 100px;
        line-height: 2em;
        cursor: pointer;
    }

    .user-quote img{
        width: 60px !important;
    }
    .user-quote .text {
        font-weight: 100;
        font-size: .7em;
    }
    .user-quote .quote {
        position: relative;
        display: inline-block;
        margin-left: 20px;
        padding-left: 30px;
        font-size: 18px;
        line-height: 24px;
        text-align: left;
        vertical-align: top;
    }
    .user-quote .quote::before {
        content: '';
        position: absolute;
        top: 4px;
        left: 6px;
        display: inline-block;
        width: 13px;
        height: 14px;
        background: url(../img/icon-quote.png) no-repeat;
        background-size: 100%;
    }


    .feature-ss .image-wrapper {
        top: 0;
        left: 0;
        width: 270px;
        height: 220px;
        background: #fff;
        box-shadow: 0 4px 13px 1px rgba(0, 0, 0, 0.22);
    }

    .feature-ss .animated-images {
        position: relative;
        left: -150px;
        display: inline-block;
        width: 100%;
        height: 518px;
        margin-bottom: 137px;
        max-width: 940px;
    }


    .feature-ss .animated-images img{
        width: 100% !important;
    }
    .feature-ss .image-wrapper.center {
        left: 58%;
        z-index: 10;
    }

}
@media (max-width: 480px) {
    .feature-ss .animated-images {
        position: relative;
        left: -160px;
        display: inline-block;
        width: 100%;
        height: 110px;
        margin-bottom: 137px;
        max-width: 320px;
    }
}

@media (max-width: 480px) {
    .feature-ss ul li i {
        font-size: 1.5em;
    }
    .feature-ss ul li {
        width: 90px;
    }
}