@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900);
/*Theme Colors*/
/*bootstrap Color*/
/*Normal Color*/
/*Border radius*/
/*Preloader*/
/* html {
    font-size: 1em;
  }
  
  p {
    font-size: 20px;
  }
  
  p span {
    font: 12px "Fira Sans", sans-serif;
  }
  
  x {
    /* No font rules at all */
    background: green;
  } */
.preloader {
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    z-index: 99999;
    background: #fff;
}

.preloader .cssload-speeding-wheel {
    position: absolute;
    top: calc(50% - 3.5px);
    left: calc(50% - 3.5px);
}

/*Just change your choise color here its theme Colors*/
body {
    background: #fff;
}

.top-left-part {
    background: #fff;
}

.top-left-part .dark-logo {
    display: none;
}

.top-left-part .light-logo {
    display: inline-block;
}

/*Top Header Part*/
.logo i {
    color: #ffffff;
}

.navbar-header {
    background: #0072be ;
}

.navbar-top-links > li > a {
    color: #ffffff;
}

.sidebar .sidebar-head {
    background: #ffffff;
}

.sidebar .sidebar-head h3 {
    color: #686868;
}

/*Right panel*/
.right-sidebar .rpanel-title {
    background: #41b3f9;
}

/*Bread Crumb*/
.bg-title .breadcrumb .active {
    color: #41b3f9;
}

/*Sidebar*/
.sidebar {
    background: #fff;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}

.sidebar .label-custom {
    background: #01c0c8;
}

#side-menu li a {
    color: #54667a;
}

#side-menu li a {
    color: #54667a;
    border-left: 0px solid #fff;
}

#side-menu > li > a {
    border-left: 3px solid transperant;
}

#side-menu > li > a:hover,
#side-menu > li > a:focus {
    background: rgba(0, 0, 0, 0.07);
}

#side-menu > li > a.active {
    background: transperant;
    color: #54667a;
    border-left: 3px solid #41b3f9;
    font-weight: bold;
}

#side-menu ul > li > a:hover {
    color: #41b3f9;
}

#side-menu ul > li > a.active {
    color: #54667a;
    font-weight: 500;
}

.user-profile .user-pro-body .u-dropdown {
    color: #54667a;
}

/*themecolor*/
.bg-theme {
    background-color: #707cd2 !important;
}

.bg-theme-dark {
    background-color: #41b3f9 !important;
}

/*Button*/
.btn-custom {
    background: #41b3f9;
    border: 1px solid #41b3f9;
    color: #ffffff;
}

.btn-custom:hover {
    background: #41b3f9;
    opacity: 0.8;
    color: #ffffff;
    border: 1px solid #41b3f9;
}

/*Custom tab*/
.customtab li.active a,
.customtab li.active a:hover,
.customtab li.active a:focus {
    border-bottom: 2px solid #41b3f9;
    color: #41b3f9;
}

.tabs-vertical li.active a,
.tabs-vertical li.active a:hover,
.tabs-vertical li.active a:focus {
    background: #41b3f9;
    border-right: 2px solid #41b3f9;
}

/*Nav-pills*/
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background: #41b3f9;
    color: #ffffff;
}

/*Extra css*/
.bg-theme {
    background-color: #41b3f9 !important;
}

.panel-themecolor,
.panel-theme {
    border-color: #41b3f9;
}

.panel-themecolor .panel-heading,
.panel-theme .panel-heading {
    border-color: #41b3f9;
    color: white;
    background-color: #41b3f9;
}

.panel-themecolor .panel-heading a,
.panel-theme .panel-heading a {
    color: #ffffff;
}

.panel-themecolor .panel-heading a:hover,
.panel-theme .panel-heading a:hover {
    color: rgba(255, 255, 255, 0.5);
}

.panel-themecolor a,
.panel-theme a {
    color: #41b3f9;
}

.panel-themecolor a:hover,
.panel-theme a:hover {
    color: #0791e6;
}

.checkbox-order {
    padding-left: 40px !important;
    height: 20px !important;
    margin: 0px !important;
}

tbody.selected tr {
    cursor: pointer;
}

tbody.selected tr {
    background: #f9f9f9;
    color: #464c50;
    font-weight: 300;
}

tbody.selected tr.selected {
    background: #FFF;
}

tbody.selected tr small {
    color: #8f989d;
    font-size: 75%;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}

.editableform .form-control {
    width: auto;
    text-align: center;
}

.bg-title h4 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    margin-top: 6px;
}

.panel-blue .panel-heading a, .panel-info .panel-heading a {
    color: #2b2b2b;
}

.panel-blue .panel-heading a, .panel-info .panel-heading a:hover {
    color: #2b2b2b;
}
@media (max-width: 767px){
    .top-left-part {
       display: none;
    }
}